<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Burda Article{% endblock %}</title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% if error|default %}
            <p>{{ error }}</p>
        {% endif %}
        <header>
            <h1>Test 2</h1>
        </header>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
