@use "variables";

$breakpoints: (
        md: 660px,
        lg: 1000px
);

$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 1.8rem;

$white: #ffffff;
$pink: #f6caca;
$blue: #93b7b3;
$grey: #a6a6a8;
$black: #333;